<app-navbar></app-navbar>
<div class="wrapper">
  <nav id="sidebar" class="text-center p-3 bg-light">
    <div class="text-center">
      <ul class="list-unstyled">
        <li>
          <a href=""
            ><i class="fa-2x far fa-comment-alt img-thumbnail rounded-top"></i
          ></a>
        </li>
        <hr />
        <li>
          <a href="">
            <img
              src="https://semantic-ui.com/images/avatar2/large/elyse.png"
              alt="server-log"
              class="rounded img-thumbnail"
            />
          </a>
        </li>
        <li>
          <a href=""
            ><i class="fa-3x fas fa-search img-thumbnail d-block mt-1"></i
          ></a>
        </li>
      </ul>
    </div>
  </nav>

  <div id="room-list">
    <div class="container">
      <ul class="list-unstyled p-2">
        <li>
          <a href="#"><i class="h3"># </i> Room 1</a>
        </li>
        <li>
          <a href="#"><i class="h4"># </i>Room 2</a>
        </li>
        <li>
          <a href="#"><i class="h4"># </i>Room 3</a>
        </li>
      </ul>
    </div>
  </div>
  <div id="chat-wrapper" class="d-flex flex-column">
    <div id="room-title" class="align-self-strech panel">Chat Room Title</div>
    <div id="chat-window" class="align-self-strech panel p-3 overflow-auto">
      <div id="message">
        <div class="container">
          <div class="row">
            <div id="profile-pic" class="col-sm-2 p-4 text-center">
              <img
                src="https://semantic-ui.com/images/avatar2/large/elyse.png"
                alt="debbie"
                class="img-fluid rounded-circle"
              />
            </div>
            <div id="msg-txt" class="col-sm-8 p-2 border text-start">
              <h4 class="d-inline">Debbi Crook</h4>
              <span class="d-inline text-muted"> 10:30 pm</span>
              <p class="text-break mt-1">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Pariatur nemo sapiente eos eveniet, culpa molestias iste nisi
                illum. Aliquid nulla labore deleniti esse voluptatum itaque sit
                cumque in totam! Assumenda alias tempora molestias?
                Exercitationem ad repellendus voluptates optio nulla saepe amet
                ducimus cum quod deserunt nemo vero, quae voluptatibus
                perferendis.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="chat-input" class="align-self-strech panel">Chat Input</div>
  </div>
  <div id="user-wrapper" class="panel p-3">Users List</div>
</div>
