/* You can add global styles to this file, and also import other style files */
@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/@fortawesome/fontawesome-free/css/all.min.css";

body {
  color: $secondary;
  overflow: hidden;
}

// .container-wrapper {
//   height: calc(100vh - 80px) !important;
// }

.navbar {
  height: 80px;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
  background-color: $light-blue;
}

.bg-cream {
  background-color: $cream;
}

.bg-grey {
  background-color: $grey;
}

.bg-blue {
  background-color: $light-blue;
}
.text-dark {
  color: $dark;
}
