$primary: #363062;
$secondary: #827397;
$gold: #d9b310;
$light-grey: #efefef;
$grey: darken($light-grey, 30%);
$black: #1d2731;
$cream: #d7b29d;
$light-blue: #cee5f2;
$dark: #4d4c7d;
$light: #ebe7f3;
$danger: #d8b9c3;
